<% if photo.favorited_by?(current_user) %> <!--いいね済みがログイン中のユーザーだったら-->
  <p>
    <%= link_to photo_favorites_path(photo), method: :delete, remote: true do %> <!--いいねを外す-->
      ♥<%= photo.favorites.count %> いいね <!--いいねの数-->
    <% end %>
  </p>
<% else %> <!--そうでなければ-->
  <p>
    <%= link_to photo_favorites_path(photo), method: :post, remote: true do %> <!--いいねをする-->
      ♡<%= photo.favorites.count %> いいね
    <% end %>
  </p>
<% end %>