<div class="container">
  <div class="wrapper wrapper-center-flex">
        <h1>ようこそpicturesへ</h1>
          <h2>旅行先での写真や、綺麗な景色、思い出の写真を</br >
            エピソードと共に投稿し、</br >
            みんなで共有しよう！！
          </h2>
  </div>
</div>